//colors
$color_picton_blue_approx: #53bfef;
$white: #ffffff;
$color_lochmara_approx: #088ecf;

//fonts
$font_0: Roboto;
$font_1: sans-serif;

//@extend-elements
%extend_1 {
  background: $color_picton_blue_approx 0 0 no-repeat padding-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

body {
  @extend %extend_1;
}
html {
  @extend %extend_1;
}
.container {
  background: $color_picton_blue_approx 0 0 no-repeat padding-box;
  color: $white;
  font-family: $font_0, $font_1;
  min-width: 350px;
  max-width: 500px;
  margin: auto;
  padding: 0.5rem;
}
.border {
  border: 0 solid $white;
}
.btn {
  background: none;
  border: none;
  color: none;
  opacity: 0.75;
  transition-duration: 0.1s;
  &:hover {
    transform: scale(1.05);
    opacity: 1;
  }
  &:active {
    transform: scale(0.95);
  }
}
.grid-wrapper {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  text-align: center;
  align-items: center;
  justify-items: center;
}
.left {
  justify-self: start;
}
.right {
  justify-self: end;
}
.status-title {
  font-size: 2.5rem;
  font-weight: bold;
}
.status-text {
  font-size: 1rem;
  padding: 0 1rem;
}
.motivation-text {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  animation: fadeIn ease 1s;
}
.main {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: auto;
  text-align: center;
  align-items: center;
  justify-items: center;
  margin: 2rem 0 1rem;
  &::after {
    position: relative;
    border-top: dotted 2px;
    color: $color_lochmara_approx;
    content: "";
    vertical-align: middle;
    width: 5rem;
    top: 0.9rem;
    left: 2.5rem;
    align-self: start;
    grid-column: 1;
    grid-row: 1;
  }
}
.svg-body {
  padding: 0.5rem;
  grid-column: 1;
  grid-row: 1;
}
.edit {
  align-self: start;
  font-size: 1.25rem;
  grid-column: 1;
  grid-row: 1;
  position: relative;
  left: 7.8rem;
  cursor: pointer;
}
.flip-horizontally {
  display: inline-block;
  transform: scale(-1, 1);
}
.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  margin: 1.2rem 0.75rem;
  user-select: none;
  cursor: pointer;
  opacity: 0.5;
  transition-duration: 0.2s;
  min-height: 3rem;
  font-size: 1.5rem;
  &:hover {
    opacity: 1;
  }
  &.active {
    font-size: 1.6rem;
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu-item-wrapper.active {
  border: none;
}
