*:focus {
  outline: 0;
}

body,
html {
  background: #53bfef 0% 0% no-repeat padding-box;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  min-width: 350px;
  max-width: 500px;
  margin: auto;
}

.border {
  border: 0px solid #ffffff;
}

/* BUTTONS */
.btn {
  background: none;
  border: none;
  color: none;
  padding: 1rem 0;
  opacity: 0.75;
  transition-duration: 0.1s;
}
.btn:hover {
  transform: scale(1.05);
  opacity: 1;
}

.btn:active {
  transform: scale(0.95);
}

/* GRID */
.grid-wrapper {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  text-align: center;
  align-items: center;
  justify-items: center;
}

.left {
  justify-self: start;
}

.right {
  justify-self: end;
}

/* STATUS */
.status-title {
  font-size: 2.5rem;
  font-weight: bold;
}

.status-text {
  font-size: 1rem;
  padding: 0 1rem;
}

/* MOTIVATION TEXT */
.motivation-text {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  animation: fadeIn ease 1s;
}

/* MAIN VIEW */
.main {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: auto;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.main:after {
  /* display: inline-block; */
  position: relative;
  border-top: dotted 2px;
  color: #088ecf;
  content: "";
  vertical-align: middle;
  width: 5rem;
  top: 0.9rem;
  left: 2.5rem;
  align-self: start;
  grid-column: 1;
  grid-row: 1;
}

.svg-body {
  padding: 0.5rem;
  grid-column: 1;
  grid-row: 1;
}

.edit {
  align-self: start;
  font-size: 1.25rem;
  grid-column: 1;
  grid-row: 1;
  position: relative;
  left: 7.8rem;
  cursor: pointer;
}
/* .edit:before {
  display: inline-block;
  position: relative;
  border-top: dotted 2px;
  color: #088ecf;
  content: "";
  vertical-align: middle;
  width: 5rem;
} */

.flip-horizontally {
  display: inline-block;
  transform: scale(-1, 1);
}

/* SCROLLBAR */
.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  margin: 0.5rem 0.75rem;
  user-select: none;
  cursor: pointer;
  opacity: 0.5;
  transition-duration: 0.2s;
  min-height: 3rem;
  font-size: 1.5rem;
}
.menu-item:hover {
  opacity: 1;
}
.menu-item.active {
  font-size: 1.6rem;
  opacity: 1;
}
.menu-item-wrapper.active {
  border: none;
}

/* ANIMATIONS */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
